:host {
    flex: 0 1 275px;
}
.leave {
    height: 360px;
    width: auto;
    box-sizing: border-box;
    border-radius: 20px;
    background-image: url(../../../assets/photos/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border: solid 2px #7F448E;
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #1D1D1D;
        margin-bottom: 33px;
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
}