<div class="highlights">
    <p class="heading">Today's Highlights:</p>
    <div class="logged">
        <div class="img-stack">
            <img [src]="employeeData[2].img" alt="pic1">
            <img [src]="employeeData[1].img" alt="pic2">
            <img [src]="employeeData[0].img" alt="pic3">
            <div class="text">
                <span style="color:#7F448E;">{{ presentLength }} employees</span>
                &nbsp;
                <span style="color:#1D1D1D;">have logged today</span>
            </div>
        </div>
    </div>
    <div class="most-least">
        <span style="color: #1D1D1D; font-weight: 600;">Most Time Logged:</span>
        &nbsp;
        <img [src]="most.img" alt="most-pic">
        &nbsp;
        <span style="color: #333333; font-weight: 600;">{{ most.name }}</span>
        &nbsp;
        <span style="color: #333333; font-weight: 400;">currently at</span>
        &nbsp;
        <span style="color: #7F448E; font-weight: 600;">{{ most.hours }} hours</span>
    </div>
    <div class="most-least">
        <span style="color: #1D1D1D; font-weight: 600;">Least Time Logged:</span>
        &nbsp;
        <img [src]="least.img" alt="least-pic">
        &nbsp;
        <span style="color: #333333; font-weight: 600;">{{ least.name }}</span>
        &nbsp;
        <span style="color: #333333; font-weight: 400;">currently at</span>
        &nbsp;
        <span style="color: #7F448E; font-weight: 600;">{{ least.hours }} hours</span>
    </div>
</div>