:host {
    flex: 0 1 410px;
}
.highlights {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    height: 164px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
    .logged {
        height: 30px;
        margin-bottom: 15px;
        .img-stack {
            position: relative;
            img {
                position: absolute;
                height: 27px;
                width: 27px;
            }
            img:first-child {
                left: 0;
            }
            img:nth-child(2) {
                left: 6px;
            }
            img:nth-child(3) {
                left: 12px;
            }
            .text {
                position: absolute;
                left: 45px;
                top: 5px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
    .most-least {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
        }
    }
}