.menu {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 32px;
    .menu-item {
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: pointer;
        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .menu-item-expandable {
        padding-left: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
        .mat-expansion-panel {
            border: none !important;
            box-shadow: none !important;
            background-color: #F5F5F5 !important;
            padding: 0 !important;
            .mat-expansion-panel-header {
                padding: 0 !important;
                background-color: #F5F5F5 !important;
                height: auto !important;
                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
              } 
            ::ng-deep .mat-expansion-panel-content{
                .mat-expansion-panel-body {
                  padding: 14px 0 0 0 !important;
                  p {
                      font-family: 'Montserrat';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 20px;
                      margin-top: 0;
                      margin-bottom: 0;
                      padding-top: 16px;
                      padding-bottom: 16px;
                      padding-left: 45px;
                      cursor: pointer;
                    }
                }
            }
        }
    }
}

::ng-deep .active{
    background-color: rgba(127, 68, 142, 0.05) !important;
    border-radius: 8px;
    border-left: 4px solid #7F448E;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}